/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  display: grid;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
@font-face {
  font-family: steps;
  src: url('../fonts/STEPS.ttf'); /* Modern Browsers */
}
.items{
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
}
#navbar{
  align-self: flex-start;
  width: 100%;
}
.menu{
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.listen-button{
  background: none;
  outline: none;
  border: none;
  transition: 1s;
}
.listen-button:active{
  animation: speak 1s infinite;
}
.title{
  font-family: 'steps';
  color: white;
  font-size: 6em;
  border-radius: 25px;
}
.title-animated{
  animation: speak 1s infinite;
}
.title-unanimated{
  animation: silence 2s ease forwards;
}
@keyframes silence{
  0%{
    transform: scale(1);
  }
  100%{
    box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -moz-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    transform: scale(1);
  }
}
@keyframes speak{
  0%{
    transform: scale(1.2);
  }
  30%{
    box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -moz-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
  }
  100%{
    transform: scale(1.2);
    box-shadow: 1px 1px 42px 5px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 42px 5px rgb(255, 255, 255);
    -moz-box-shadow: 1px 1px 42px 5px rgb(255, 255, 255);
  }
}
.text-writer{
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin: 10%;
}
.result-snippet{
  color: white;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.response-text{
  color: white;
  text-align: left;
  justify-self: center;
  align-self: center;
  font-size: 1.2em;
  overflow-y: scroll;
  scrollbar-width: none; /* for Firefox */
  margin-right: 30vh;
  margin-left: 30vh;
}
#response-container{
  width: 100%;
  height: 80%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
}
.response-text::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
/*Wiki Styles*/
#response-wiki{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  margin-bottom: 5%;
}
.wiki-image{
  object-fit: cover;
  height: auto; 
  width: 30vh; 
  height: 20vh;
  justify-self: center;
  align-self: center;
  object-fit: contain;
}
.wiki-text{
  color: white;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 1.2em;
  width: 50%;
  margin: 5%;
}
/*Input*/
.inputContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
.askInput{
  border-top-left-radius: 20px;
  text-align: center;
  border: none;
  outline: none;
  width: 80%;
  height: 2rem;
}
.askButton{
  border: none;
  background-color: rgb(252, 58, 58);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  width: 20%;
}
.askButton:active{
  transform: scale(1.4);
  transition: 0.2s;
}
@media (max-width: 500px) {
  .title{
    font-family: 'steps';
    color: white;
    font-size: 2.5em;
    border-radius: 25px;
  }
  #response-wiki{
    flex-direction: column;
  }
  .response-text{
    margin: 15px;
  }
}