/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  display: grid;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
@font-face {
  font-family: steps;
  src: url('../fonts/STEPS.ttf'); /* Modern Browsers */
}
.items{
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
}
.menu{
  align-self: center;
  justify-self: center;
}
.listen-button{
  background: none;
  outline: none;
  border: none;
  transition: 1s;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5;
}

.title{
  font-family: 'steps';
  color: white;
  font-size: 6em;
  border-radius: 25px;
}
.title-animated{
  animation: speak 1.3s ease forwards;
}
.title-unanimated{
  animation: silence 2s ease forwards;
}
@keyframes silence{
  0%{
    transform: scale(1);
  }
  100%{
    box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -moz-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    transform: scale(1);
  }
}
@keyframes speak{
  0%{
    transform: scale(1.2);
  }
  30%{
    box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
    -moz-box-shadow: 1px 1px 42px -18px rgb(255, 255, 255);
  }
  100%{
    transform: scale(1.2);
    box-shadow: 1px 1px 42px 5px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 42px 5px rgb(255, 255, 255);
    -moz-box-shadow: 1px 1px 42px 5px rgb(255, 255, 255);
  }
}
.text-writer{
  color: white;
  text-align: center;
  font-size: 1.5em;
}
.result-snippet{
  color: white;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */